body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--bg-color);
  color: var(--text-color);
}

:root {
  --bg-color: #ffffff;
  --text-color: #222;
  --card-bg: #f5f5f5;
}

body, .dark, .light {
  transition: background-color 0.5s ease, color 0.5s ease;
}

.dark {
  --bg-color: #3f3d3d;
  --text-color: #ffffff;
  --card-bg: #1e1e1e;
}

.theme-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  background-color: var(--card-bg);
  color: var(--text-color);
  border: 1px solid #ccc;
  font-weight: 600;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  transition: all 0.3s ease;
}

/* --- Ajuste para Móvil --- */
@media (max-width: 650px) {
  .theme-btn {
    /* Lo movemos abajo para que no tape el buscador de arriba */
    top: auto; 
    bottom: 20px; 
    right: 20px;
    
    /* Lo hacemos más compacto */
    padding: 10px;
    font-size: 14px;
    border-radius: 50px; /* Estilo redondo tipo "FAB" */
  }
}
